<div class="container my-5">
    <h1>Tournament</h1>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="bg-danger text-white">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Team A</th>
                    <th>Team B</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kamis<br>21 Oktober 2021</td>
                    <td>12:45</td>
                    <td><img src="assets/team/AE.png"> ALTER EGO</td>
                    <td><img src="assets/team/BTR.png"> BIGETRON ALPHA</td>
                </tr>
                <tr>
                    <td>Kamis<br>21 Oktober 2021</td>
                    <td>17:30</td>
                    <td><img src="assets/team/EVOS.png"> EVOS LEGENDS</td>
                    <td><img src="assets/team/AURA.png"> AURA FIRE</td>
                </tr>
                <tr>
                    <td>Jum'at<br>22 Oktober 2021</td>
                    <td>12:45</td>
                    <td><img src="assets/team/RRQ.png"> RRQ HOSHI</td>
                    <td><img src="assets/team/AE.png"> ALTER EGO</td>
                </tr>
                <tr>
                    <td>Jum'at<br>22 Oktober 2021</td>
                    <td>17:30</td>
                    <td><img src="assets/team/ONIC.png"> ONIC ESPORTS</td>
                    <td><img src="assets/team/EVOS.png"> EVOS LEGENDS</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>