<div class="container my-5">
    <h1>Profile</h1>
    <a href="#">SHAYNENDRA DIKA DESTYAWAN</a>
    <p>@shaynendradika</p>
    <p>Jenis Kelamin:<br>Laki-Laki</p>
    <p>Alamat:<br>Desa Tebas Kuala, Kecamatan Tebas Kabupaten Sambas<br>Prov. Kalimantan Barat, ID 79461</p>
    <p>Username:<br>PuntenSlurrr / shaynendradika</p>
    <p>Social Media:</p>
    <ul>
        <li><a href="https://www.shaynendradika.my.id/">Website</a></li>
        <li><a href="https://www.instagram.com/shaynendradika">Instagram</a></li>
        <li><a href="https://www.facebook.com/shaynendradika">Facebook</a></li>
        <li><a href="https://www.linkedin.com/shaynendradika">LinkedIn</a></li>
    </ul>
</div>
<img src="assets/2.png" class="img-fluid" alt="">