<img src="assets/1.jpg" class="img-fluid" alt="">
<div class="container my-5">
    <h1>Mobile Legends Professional League Indonesia</h1><br>
    MPL ID merupakan liga utama Mobile Legends di Indonesia yang diselenggarakan oleh Moonton untuk para penggemar esports yang berada di Indonesia. Liga ini berdurasi selama 5 bulan dengan total hadiah yang terus bertambah.<br>
    Prize pool untuk MPL Season 3 tercatat sebesar USD 120,000, dimana nominal ini sudah mengalami peningkatan dari Season sebelumnya di posisi USD 100,000.<br>
    Kejuaraan yang dimulai sejak tahun 2018 ini tidak pernah gagal menjadi pusat perhatian dikarenakan besarnya hadiah yang ditawarkan. Selain itu, kejuaraan ini juga menarik perhatian para pro gamers untuk mengikutinya.<br>
    Sejarah mencatat sebanyak 3 Season dari MPL ID telah berhasil diselenggarakan. Dan tidak berhenti di sana, kini sedang berlangsung pula persiapan menyambut Mobile Legends Professional League Indonesia Season 4.
</div>